#root {
  max-width: 1280px;
  margin: 5px;
  padding: 2rem;
  color: white;
  text-align: center;
  background-color: rgb(87, 107, 100);
}
/* .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.form-todo {
  /* background-color: rgb(14, 209, 141); */
  align-items: center;
  height: 80%;
  gap: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}
.form-todo input {
  width: 30%;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  /* display: flex; */
  /* justify-content: space-between; */
}
.form-todo button {
  width: 20%;
  height: 35px;
  border-radius: 8px;
}
.todo-list {
  text-align: center;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background: #e71a1a; */
  padding: 10px 50px;
  border: 1px solid rgb(181, 199, 214);
  margin: 10px;
  border-radius: 10px;
}
.todo-list button {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
